certifi==2019.11.28
cycler==0.10.0
decorator==4.4.0
future==0.18.2
gensim==3.8.3
imageio==2.9.0
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.1
node2vec==0.4.1 
networkx==2.3
numpy==1.16.0
openpyxl==3.0.3
pandas==0.25.1
pip==21.0.1 
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
scikit-image==0.17.2
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0 
six==1.12.0
sklearn==0.0
tensorboard==1.8.0  
tensorflow-estimator==2.1.0  
tensorflow-gpu==1.8.0 
tifffile==2020.9.3
torch==1.7.0
torch-geometric==1.6.3  
torch-scatter==2.0.6  
torch-sparse==0.6.9  
torchvision==0.2.0 
tqdm==4.50.2
typing-extensions==3.7.4.3
urllib3==1.25.7  
utils==1.0.1 
